.jumbotron
  .display-4
    what do you want to learn today?

  .p-4

  .form-inline.my-2.my-lg-0
    = form_tag(courses_path, method: :get) do
      .input-group
        = text_field_tag :title, params[:title], autocomplete: 'off', placeholder: "search", class: "form-control"
        %span.input-group-append
          %button.btn.btn-primary.btn-sm{:type => "submit"}
            %span.fa.fa-search{"aria-hidden" => "true"}


.card-group
  .card.card-body
    %h1
      .fa.fa-graduation-cap
    = Course.count
    online courses
    .row
    Explore a Variety of fresh topics
  .card.card-body
    %h1
      .fa.fa-chalkboard-teacher
      .fa.fa-brain
    = Course.distinct.count(:user_id)
    expert instructors
    .row
    Find the right instructor for you
  .card.card-body
    %h1
      .fa.fa-user-graduate
    = User.count
    Active Learners
    .row
    Join the knowledge sharing community
  .card.card-body
    %h1
      .fa.fa-infinity
    Lifetime Access
    .row
    Learn on your schedule


%hr
%h2
  Popular Courses
.card-columns
  - @courses.each do |course|
    = render 'courses/course', course: course

%hr
%h2
  Top Rated Courses
.card-columns
  - @courses.each do |course|
    = render 'courses/course', course: course
%hr
%h2
  Most Recent Courses
.card-columns
  - @recent_courses.each do |course|
    = render 'courses/course', course: course
